.tr-test .page-wrapper{overflow:hidden}
.tr-test.catalog-product-view .amasty-label-container{height:150px;width:150px;margin-right:3.125rem}
.tr-test #media-gallery{padding:0 50px}
.tr-test .mz-figure .mz-nav-controls button.mz-button:not(.mz-button-close){display:block!important;width:44px!important;height:44px!important}
.tr-test .mz-figure .mz-nav-controls button.mz-button:not(.mz-button-close):hover{opacity:.5}
.tr-test .MagicScroll-horizontal{display:none!important}
.tr-test .MagicZoom,.tr-test figure.mz-figure{overflow:visible!important}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-prev{left:-50px!important}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-next{right:-50px!important}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-prev:before{-webkit-mask-image:inherit!important;background-image:url(https://iili.io/HSzhV2V.png)!important;background-size:100%;background-repeat:no-repeat;background-position:center;background-color:#fff!important;-webkit-transition:none!important;-o-transition:none!important;transition:none!important;-webkit-transform:inherit!important;-ms-transform:inherit!important;transform:inherit!important;width:44px;height:44px}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-next:before{-webkit-mask-image:inherit!important;background-image:url(https://iili.io/HSzhGrQ.png)!important;background-size:100%;background-repeat:no-repeat;background-position:center;background-color:#fff!important;-webkit-transition:none!important;-o-transition:none!important;transition:none!important;-webkit-transform:inherit!important;-ms-transform:inherit!important;transform:inherit!important;width:44px;height:44px}
.tr-test .MagicZoom img{border-radius:12px}
.tr-test div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer .MagicScroll-arrows-inside{max-width:100%!important}
.tr-test .MagicScroll.MagicScroll-arrows-inside .mcs-button-arrow{display:none!important}
.tr-test div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer a{border:none!important;padding:3px;width:13px!important;height:13px!important;background:#000!important;border-radius:50%!important;visibility:visible!important;opacity:.5;margin:0 10px}
.tr-test div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer a.active-selector,.tr-test div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer a:hover{opacity:1}
.tr-test .MagicScroll{top:50px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.tr-test .MagicScroll .mcs-item img{display:none!important}
@media(max-width:767.98px){
.tr-test .mz-figure .mz-nav-controls button.mz-button:not(.mz-button-close){width:40px!important;height:40px!important}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-next:before,.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-prev:before{width:40px;height:40px}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-prev{left:-45px!important}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-next{right:-45px!important}
}
@media(max-width:499.98px){
.tr-test div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer a{width:9px!important;height:9px!important;margin:0 7px}
.tr-test .mz-figure .mz-nav-controls button.mz-button:not(.mz-button-close){width:28px!important;height:28px!important}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-next:before,.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-prev:before{width:28px;height:28px}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-prev{left:-35px!important}
.tr-test .mz-figure .mz-nav-controls button.mz-button.mz-button-next{right:-35px!important}
}
@media (min-width:310px){
.tr-test.catalog-product-view .amasty-label-container{height:70px;width:70px}
}
@media (min-width:640px){
.tr-test.catalog-product-view .amasty-label-container{height:90px;width:90px}
}
@media (min-width:1024px){
.tr-test.catalog-product-view .amasty-label-container{height:150px;width:150px}
}