.vs-nf-test .section-4,
.vs-nf-test .section-9{
	padding-top: 50px;
}
.vs-nf-test .section-6 .snoring_relief {
    margin-top: 0px;
}
.vs-nf-test .section-10 .work-padding {
    padding-bottom: 50px;
}
.vs-nf-test .section-14 .satisfaction_section .gurented{
    margin-top: 30px;
}
.vs-nf-test .section-14 .satisfaction_section{
	margin-bottom: 0;
}
.vs-nf-test .section-11 > section{
	padding-bottom: 0px!important;
}
.vs-nf-test .section-11 > section .container .text_center{
	margin-bottom: 0 !important;
}
.vs-nf-test .section-3 .work-padding {
    padding-bottom: 50px;
}
@media(max-width:767.98px){
	.vs-nf-test .section-2 > section,
	.vs-nf-test .section-10 > section,
	.vs-nf-test .section-7 > section{
		padding-top: 0!important;
	}
	.vs-nf-test .section-4,
	.vs-nf-test .section-9{
		padding-top: 10px;
	}
	.vs-nf-test .section-10 .work-padding {
	    padding-bottom: 10px;
	}
	.vs-nf-test .section-8 .waking-section {
	    padding-top: 30px;
	}
}