@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.hsbc-pdp .shopify-payment-terms {
	font-size: 12.6px;
	line-height: 22px;
	letter-spacing: 0.4px;
}
.hsbc-pdp .shopify-payment-terms .shopify-installments {
	margin-right: 19px;
}
.hsbc-pdp .tab-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) {
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
    margin-top: 0;
    margin-bottom: -1px;
}
.hsbc-pdp .tab-wrapper .product-block--tab+.product-block--tab .collapsible-trigger-btn--borders {
	border-top: 1px solid #e8e8e1;
}
.hsbc-pdp .tab-wrapper .product-block--tab+.product-block--tab {
    margin-top: -26px;
}
.hsbc-pdp .tab-wrapper .collapsible-trigger-btn--borders {
	background: #F4F4F4;
    font-size: 12.8px;
    line-height: 20px;
    letter-spacing: 3.84px;
    padding-left: 56px;
    height: 52px;
    padding-top: 12px;
}
.hsbc-pdp .tab-wrapper .collapsible-trigger-btn--borders.is-open {
	background: #FFFFFF;
}
.hsbc-pdp .collapsibles-wrapper--border-bottom {
	position: relative;
}
.hsbc-pdp .collapsibles-wrapper--border-bottom .tab-icon {
	position: absolute;
    top: 14px;
    left: 14px;
    width: 24px;
    height: 24px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab .collapsible-content__inner {
    padding: 24px 28px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab .content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    font-family: 'Roboto';
    color: #000000;
}
/*Board Specs */
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) ul {
	display: none;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
    max-width: 282px;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
	margin-right: 10px;
    font-weight: 400;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
}
.hsbc-pdp .tab-wrapper .collapsible-content {
	border-left: 1px solid #E8E8E1;
	border-right: 1px solid #E8E8E1;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part .col1 {
	margin-right: 10px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part b {
	font-weight: 600;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part .row1 {
	margin-bottom: 36px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-right-part {
    max-width: 268px;
    width: 100%;
}

/*Description */
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .collapsible-content__inner {
	padding-top: 8px;
	padding-bottom: 10px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .description-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .description-wrapper .desc-box {
	text-align: center;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .description-wrapper img {
	max-width: 60px;
	width: 100%;
	margin: 0 auto 7px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Roboto';
    color: #000000;
    margin-bottom: 0;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .collapsible-content__inner > p {
	margin-bottom: 15px;
}

/*Accessories */
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner {
	padding-top: 10px;
	padding-bottom: 24px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-left-part {
	max-width: 271px;
	width: 100%;
	margin-right: 10px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-right-part {
	max-width: 256px;
	width: 100%;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-left-part ul {
	margin-left: 8px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-left-part ul li {
	list-style-type: decimal;
	margin-bottom: 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-left-part ul li a {
	display: block;
}

/*Features */
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(3) .collapsible-content__inner {
	padding-top: 7px;
	padding-bottom: 24px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(3) .feature-img {
	max-width: 356px;
	width: 100%;
	margin: 0 auto;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(3) .collapsible-content__inner ul {
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #000000;
	margin-left: 0;
	margin-bottom: -10px;
	font-family: 'Roboto';
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(3) .collapsible-content__inner ul li {
	list-style-type: none;
	position: relative;
	margin-bottom: 15px;
	letter-spacing: 0;
    padding-left: 27px;
    font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 15px;
	color: #000000;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(3) .collapsible-content__inner ul li::before {
	content: '';
	position: absolute;
	top: -2px;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url('https://iili.io/H8R2caR.png');
	background-size: cover;
}

/*shipping Information */
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(5) .collapsible-content__inner {
	padding-top: 5px;
	padding-bottom: 19px;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(5) .collapsible-content__inner > p {
	display: none;
}
.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(5) .collapsible-content__inner .content-wrapper {
	display: block;
	/*text-transform: capitalize;*/
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}
@media(max-width: 1023px) {
	.hsbc-pdp .collapsibles-wrapper--border-bottom .tab-icon {
		top: 16px;
		left: 10px;
		width: 20px;
		height: 20px;
	}
	.hsbc-pdp .tab-wrapper .collapsible-trigger-btn--borders {
		padding-left: 38px;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab .collapsible-content__inner {
		padding: 16px;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part .col1 {
		margin-right: 0;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part .row1,
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part .col1 .row2 {
		margin-bottom: 12px;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .description-wrapper {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
    	-webkit-box-pack: justify;
    	    -ms-flex-pack: justify;
    	        justify-content: space-between;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .description-wrapper .desc-box {
		max-width: 50%;
		width: 100%;
		margin-bottom: 10px;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .content-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-right-part {
		margin-bottom: 10px;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-left-part {
		margin-right: 0;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-left-part ul {
		margin-left: 12px;
	}
}
@media(max-width: 768px) {
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-right-part img {
		margin: 0 auto;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .description-wrapper .desc-box,
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-left-part {
		max-width: -webkit-max-content;
		max-width: -moz-max-content;
		max-width: max-content;
	}
}
@media(max-width: 525px) {
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-right-part {
		max-width: 96px;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .description-wrapper .desc-box {
		max-width: 50%;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part .row1, .hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(4) .content-wrapper .inner-left-part .col1 .row2 {
		margin-bottom: 35px;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .description-wrapper .desc-box:not(:nth-child(n+3)),
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(2) .collapsible-content__inner .inner-right-part {
		margin-bottom: 38px;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:first-child .collapsible-content__inner {
		padding-bottom: 20px;
	}
	.hsbc-pdp .tab-wrapper .product-block.product-block--tab:nth-child(3) .collapsible-content__inner ul {
		margin-bottom: 32px;
	}
	.hsbc-pdp.the-sundeck .tab-wrapper .product-block.product-block--tab:nth-child(3) .collapsible-content__inner ul {
		margin-bottom: 0;
	}
	.hsbc-pdp.the-sundeck .tab-wrapper .product-block.product-block--tab:nth-child(3) .collapsible-content__inner {
		padding-bottom: 10px;
	}
}