body .cleverapps-collections-add-to-cart-widget{
	display: block!important;
	padding: 0 0 73px!important;
}
body .cleverapps-collections-add-to-cart-widget select{
    font-family: Assistant, sans-serif !important;
	box-shadow: none!important;
    outline: none !important;
	margin-bottom: 5px !important;
    padding: 0 25px 0 10px !important;
}
body .cleverapps-collections-add-to-cart-variant-label{
	font-size: 13px !important;
}
body .cleverapps-collections-add-to-cart-add-to-cart-button{
	background: #000!important;
	border: 0.5px solid #000000!important;
	border-radius: 25px!important;
	font-weight: 400!important;
	font-size: 15px!important;
	line-height: 100%!important;
	letter-spacing: 1px!important;
	color: #FFFFFF!important;
	height: 40px!important;
	margin-bottom: 11px !important;
}
body .product-card-wrapper .card{
	padding: 0 5px !important;
}
@media(max-width:988px){
	body .grid__item.slider__slide .cleverapps-collections-add-to-cart-widget select{
		max-width: calc(100% - 36px);
	}
}