body.sonno-test-v1 .footerFixedDiv,body.sonno-test-v1 #effectiveAppsCDTContainer p>span:first-child,body.sonno-test-v1 .removeProduct_mainDiv,body.sonno-test-v1 .shopingbasketMain h1.shoppingbasket{display:none}
body.sonno-test-v1 .subtotal p.install_ment_para{color:#fff!important;padding:5px 0}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .section.clearfix.lineItemContainerOuter{padding-bottom:20px}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form p.youSavedPrice{display:none}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .price-wrapper{font-style:normal;font-weight:400;font-size:17px;line-height:21px;text-align:center;color:#25364a}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .price-wrapper span{font-weight:700}
@media(max-width:768.98px){
body.sonno-test-v1 .desk-only{display:none}
body.sonno-test-v1 #cart_form .product-quantity-box.left.mobileDiv{display:none}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .section.clearfix.lineItemContainerOuter{padding-bottom:5px}
}
@media(max-width:480.98px){
body.sonno-test-v1 .Basket-innerSection+.insinstall_ment_div p.install_ment_para{color:#7c7c7c!important;padding:10px 0 5px}
}
body.sonno-test-v1 .custom-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%}
body.sonno-test-v1 .custom-wrap .product-quantity-box{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:65%!important}
body.sonno-test-v1 .custom-wrap .Productcartprice{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:10px 0}
body.sonno-test-v1 .custom-wrap button.variant_modal{position:relative!important;top:inherit!important;left:inherit!important}
body.sonno-test-v1 .custom-wrap .product-plus span{font-weight:700!important;font-size:20px!important;color:#fff!important;line-height:26px!important;height:30px;width:30px}
body.sonno-test-v1 .custom-wrap .product-minus span{font-weight:700!important;font-size:29px!important;color:#fff!important;line-height:23px!important;height:30px;width:30px}
body.sonno-test-v1 .custom-wrap .product-minus .icon-minus:before{display:none}
body.sonno-test-v1 #cart_form .product-quantity-box button.btn.btn-info.btn-.variant_modal{-webkit-box-shadow:none;box-shadow:none;background:#fff!important;margin-right:10px;border:1px solid #14324a;color:#14324a!important}
body.sonno-test-v1 #cart_form .product-quantity-box button.btn.btn-info.btn-.variant_modal:hover{background:#275981!important;border:1px solid #275981;color:#fff!important}
@media(max-width:768.98px){
body.sonno-test-v1 .custom-wrap{padding:0 8px}
body.sonno-test-v1 .custom-wrap .product-quantity-box{width:80%!important;-webkit-box-pack:normal;-ms-flex-pack:normal;justify-content:normal;margin:5px 0!important}
body.sonno-test-v1 .custom-wrap .Productcartprice{margin:5px 0}
body.sonno-test-v1 .custom-wrap .Productcartprice{width:30%;padding:0}
body.sonno-test-v1 .custom-wrap .Productcartprice p{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}
body.sonno-test-v1 .custom-wrap .Productcartprice p span{font-weight:700;max-width:100%!important;width:100%!important;margin-right:0!important;text-align:right!important}
body.sonno-test-v1 .custom-wrap .Productcartprice p span:first-child{font-weight:400;-webkit-text-decoration-line:line-through;text-decoration-line:line-through;color:#999}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .price-wrapper{padding-bottom:10px}
}
@media(max-width:480.98px){
body.sonno-test-v1 #cart_form .product-quantity-box button.btn.btn-info.btn-.variant_modal{width:80px;height:30px}
body.sonno-test-v1 .custom-wrap .product-minus{float:left!important;height:24px!important;width:24px!important}
body.sonno-test-v1 .custom-wrap .product-plus{float:left!important;height:24px!important;width:24px!important}
body.sonno-test-v1 .custom-wrap .product-minus span{font-size:20px!important;line-height:14px!important;position:absolute!important;top:50%;left:50%!important;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:18px;width:18px}
body.sonno-test-v1 .custom-wrap .product-plus span{font-size:16px!important;line-height:18px!important;position:absolute!important;top:50%;left:50%!important;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:18px;width:18px}
}
body.sonno-test-v1 .cart_content_info h5{position:relative;padding-right:25px}
body.sonno-test-v1 .cart_content_info h5>img{cursor:pointer;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);right:10px;width:17px;height:20px}
body.sonno-test-v1 .cart_content_info h5>img:hover{opacity:.8}
body.sonno-test-v1 .cart-section .productDetailcartpage{display:none!important}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .product-info-wrapper{padding-right:20px}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .product-info-wrapper p{font-size:17px!important;line-height:25px!important;font-weight:400;text-align:left;float:none!important;margin:0;color:#7c7c7c}
@media(max-width:900px){
body.sonno-test-v1 .cart_content_info h5>img{width:12px;height:15px}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .product-info-wrapper p{font-size:14px!important;line-height:19px!important}
}
@media(max-width:480.98px){
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .product-info-wrapper p{font-size:12px!important;line-height:18px!important}
}
@media (max-width:375.98px){
body.sonno-test-v1 .cart-section .container.main.content form#cart_form .product-info-wrapper p{font-size:11px!important;line-height:13px!important}
}
body.sonno-test-v1 .tp-banner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0 20px;margin:0 auto}
body.sonno-test-v1 .tp-contetnt{position:relative;top:7px}
body.sonno-test-v1 .tp-banner .tp-img{max-width:174px;width:100%;height:88px;margin-right:10px}
body.sonno-test-v1 .tp-banner .tp-rating{padding:0;font-style:normal;font-weight:400;font-size:20px;line-height:24px;color:#000;margin-bottom:2px}
body.sonno-test-v1 .tp-banner .tp-rating span{font-weight:600}
body.sonno-test-v1 .tp-banner .tp-review{pointer-events:none;text-align:center;padding:0;font-style:normal;font-weight:400;font-size:17px;line-height:20px;-webkit-text-decoration-line:none;text-decoration-line:none;color:#000}
body.sonno-test-v1 .tp-banner .tp-review span{-webkit-text-decoration-line:underline;text-decoration-line:underline}
body.sonno-test-v1 .tp-banner .tp-review:hover{text-decoration:none}
@media(max-width:480.98px){
body.sonno-test-v1 .tp-banner .tp-img{max-width:87px;height:44px}
body.sonno-test-v1 .tp-banner .tp-rating{font-size:14px;line-height:12px;margin-bottom:0}
body.sonno-test-v1 .tp-banner .tp-review{font-size:12.3px;line-height:13px}
}
body.sonno-test-v1 .warrantymain_div{-ms-flex-wrap:wrap;flex-wrap:wrap}
body.sonno-test-v1 .warrantymain_div .warranty_inner{padding:16px 5px}
body.sonno-test-v1 .warrantymain_div .warranty_inner h2{font-size:14px}
body.sonno-test-v1 .warrantymain_div .warranty_inner span img{width:36px}
body.sonno-test-v1 .Basket-innerSection button.custom_checkout{display:none}
body.sonno-test-v1 button.custom_checkout.mobilebutton{display:block;width:100%}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form p.install_ment_para{font-style:normal;font-weight:600;font-size:16px;line-height:28px;color:#14324b;margin:15px 0}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form p.install_ment_para img.logoSpan_1{height:17px!important}
@media(max-width:480.98px){
body.sonno-test-v1 form{margin-bottom:0}
body.sonno-test-v1 .warrantymain_div.desktop{display:none}
body.sonno-test-v1 .warrantymain_div.mobile{display:-webkit-box;display:-ms-flexbox;display:flex}
body.sonno-test-v1 .warrantymain_div .warranty_inner h2{font-size:10px}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form p.install_ment_para{font-size:12px;line-height:22px}
}
@media(max-width:374.98px){
body.sonno-test-v1 .warrantymain_div .warranty_inner h2{font-size: 9px}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form h1{font-size: 17px}
}
body.sonno-test-v1 .cart-section .container.main.content form#cart_form h1{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;cursor:pointer}
body.sonno-test-v1 .Basket-innerSection>.section h1 img{width:25px;height:25px}
body.sonno-test-v1 .Basket-innerSection .total-wrap{margin:0 20px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
body.sonno-test-v1 .Basket-innerSection .section.active .total-wrap{display:none}
body.sonno-test-v1 .Basket-innerSection .section .subtotal{-webkit-transition:.3s all ease-in-out;-o-transition:.3s all ease-in-out;transition:.3s all ease-in-out;height:100%;border:none}
body.sonno-test-v1 .Basket-innerSection .section:not(.active) .subtotal{height:0;overflow:hidden;padding:0 20px}
@media(max-width:480.98px){
body.sonno-test-v1 .Basket-innerSection>.section h1 img{width:16px;height:16px}
body.sonno-test-v1 .Basket-innerSection .total-wrap{margin:0 9px}
body.sonno-test-v1 .Basket-innerSection .section:not(.active) .subtotal{padding:0 10px}
}